<nav class="navbar">
  <div class="nav-brand" routerLink="/">
    <h1>🍳 ChefBook</h1>
  </div>

  <div class="nav-links">
    @if (authService.isLoggedIn()) {
      <a routerLink="/recipes">Browse Recipes</a>
    }
    

    @if (authService.isLoggedIn()) {
      <span class="user-email">Hi, {{ authService.currentUser()?.email }}</span>
      <button class="btn-logout" (click)="logout()">Logout</button>
    } @else {
      <a routerLink="/login" class="link-login">Login</a>
      <a routerLink="/register" class="btn-register">Join Now</a>
    }
  </div>
</nav>